.full{

display: inline;
}

.heading
{
  margin: 10px 400px 0px 500px;
}

#poster{
  margin: -300px 100px 0px 100px ;
  float: left;
  
  }


.info{
  margin: 10px 400px 0px 500px;
  
   
}

.blue{
  
}


